/* animations for astronaut */
/* 1.float animation */
@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(15px) translateX(15px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.float-astronaut {
  animation: float 4s ease-in-out infinite;
}

/* 2.exit animation */
@keyframes exit {
  0% {
    transform: translateY(0px) (1);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scale(0.7);
    opacity: 0;
  }
}

.exit-astronaut {
  animation: exit 1.5s ease-in forwards;
}

/* 3.enter animation */
@keyframes enter {
  0% {
    transform: translateX(300px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

.enter-astronaut {
  animation: enter 1.5s ease-out forwards;
}